/* WILDCARD usage */

* {
    font-family: Open Sans, serif;
    box-sizing: border-box;
    margin: 0;
}

/*
NAVIGATION BAR
 */

.nav-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
    width: 80%;
    margin-left: 10px;
    height: 110px;
    border: 1px solid rgba(134, 134, 134, 0.527);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /*box-shadow: 0px 5px 15px rgba(78, 78, 78, 0.603);*/
}

    .nav-menu-left{
        width: 200px;
        height: 100px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .nav-menu-right{
        display: flex;
        list-style-type: none;
        justify-content: right;
        align-items: center;
        font-weight: bold;
    }

        .nav-menu-right-as-list{
            display: flex;
            color: #2577be;
            cursor:pointer;
            width: 130px;
            height:110px;
            transition: all 0.2s;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .nav-menu-right-as-list:hover{
            color: #000000;
            background-color: #f5f6f7; /* From color picker */
        }
        #active-page{
            color: #000000;
            background-color: #f5f6f7;
        }

/*
SECTIONS
 */

/* TOP */
.TOP{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100vw;
    height: 90vh;
    background-image: url("assets/bg_beach.png");
    background-size: cover;
}

/* MIDDLE */
.MIDDLE{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100vw;
    height: 90vh;
    background-color: white;
}

.wrapper{
    background-color: #f5f6f7;
    width: 80vw;
    height: 700vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -120px;
}

/*
.container {
    height: 75vh;
    background-size: cover;
    position: relative;
}
*/
    .container-box {
        width: 50vw;
        border-radius: 0;
        background-color: white;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        padding-top: 3rem;
        text-align: center;
        position: relative;
        top: -6.5rem;
        left: auto;
    }

    .box-items{
        position: relative;
        padding: 10px;
        top: -6rem;
    }

        .profile-dp{
            height:150px;
            position: relative;
            top: -6.2rem;
            border: 4px solid rgb(255, 255, 255);
            border-radius: 50%;
        }

        .profile-pic {
            height: 7rem;
            border:  solid rgb(255, 255, 255);
            top: -2rem;
            position: relative
        }

        #heading1, #heading2, #heading3, #heading4{
            font-size: 1.75rem;
            position: relative;
            text-align: center;
        }

        .name{
            color: #2577be;
            font-size: 18px;
            font-weight: 600;
        }

        .date{
            color: #747779;
            font-size: 16px;
        }

        #rating-box1, #rating-box2, #rating-box3, #rating-box4{
            cursor: pointer;
            position: relative;
            left: 50%;
            margin-left: -150px;
            width: 300px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            align-self: center;
            padding: 0;
            border: 1px solid #aaacad7a;
        }

        .thumb-rating{
            background-color: #54b13f;
            height: 100%;
            font-size: 1.75rem;
            align-items: center;
            width: 6rem;
            justify-content: center;
            padding: 5px;
            color: white;
        }
            .up{
                background-color: #54b13f;
            }
            .down{
                background-color: #e8402d;
            }

        .text-rating{
            cursor: text;
            display: flex;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
        }

        .linear-rating{
            display: flex;
            font-size: 20px;
            align-items: center;
        }

            .starred{
                color: #fad73c;
                padding-left: 5px;
                padding-right: 5px;
            }
            .unstarred{
                color: #dfe2e6;
                padding-left: 5px;
                padding-right: 5px;
            }

        /* Implementation of the 'info' class which changes onClick from myFunctions.js */

        .info{
            cursor: pointer;
            font-size: 18px;
            text-align: left;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 2rem;
            position: relative;
            height: 10rem;
            background: -webkit-linear-gradient(#000000, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;
        }

        .info-full{
            cursor: text;
            font-size: 18px;
            text-align: left;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 2rem;
            position: relative;
            background: -webkit-linear-gradient(#000000, #000000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: visible;
            height: fit-content;
        }

        /* Comment */

        .comment-data{
            font-family: Open Sans, serif;
            font-weight: bold;
            width: 40%;
            height: 100%;
            border: 0;
            background-color: #fad74a;
            color: #216cae;
            cursor: pointer;
        }

            .comment-button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
            }

    #submit-comment-area1, #submit-comment-area2, #submit-comment-area3, #submit-comment-area4{
        display: none;
    }

    .comment-box-textbox{
        width: 70%;
        height: 8rem;
        padding: 1%;
        font-family: Open Sans, serif;
    }

        #submit-button1, #submit-button2, #submit-button3, #submit-button4{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            margin-left: 30%;
        }

        .hidden-comment-box{
            display: none;
        }

            .clip-box-custom{
                /* Clip-path drawn by taking reference from: https://bennettfeely.com/clippy/ */
                clip-path: polygon(0 100%, 100% 100%, 100% 15%, 55% 15%, 50% 0, 45% 15%, 0 15%);
                margin: 20px;
                padding: 10% 10% 100px;
                background-color: #edf0f2;
            }

        .name-commentor{
            top: 40px;
            position: relative;
            color: #4c4c4c;
            font-size: 16px;
            font-weight: bold;
        }
        .post-commentor{
            position: relative;
            top: 40px;
            color: #4c4c4c;
            font-size: 14px;
        }

        .profile-dp-commentor{
            height:150px;
            position: relative;
            z-index: 10;
            top: -120%;
            border: 4px solid rgb(255, 255, 255);
            border-radius: 50%;
        }

        .profile-pic-commentor {
            height: 7rem;
            top: 3rem;
            position: relative;
        }


/* BOTTOM */
.footer{
    clear: both;
    display: flex;
    text-align: -webkit-center;
    justify-content: center;
    height: 0;
    color: #b9bec1;
    position: relative;
}

    #myself{
        position: relative;
        bottom: -30px;
    }
    #linkedin{
        color: #b9bec1;
        font-weight: bold;
        text-decoration-line: none;
    }
        #linkedin:hover{
            color: #2577be;
            text-decoration-line: underline;
        }
